<div class="conversation-container">
	<div class="chat">
		<div class="chat-title">
			<h1>
				<span>{{userData.phoneNumber}}: Conversation</span>
				<span [hidden]="selectedContacts.length < 2"> with {{selectedContacts.length}} contacts</span>
				<span [hidden]="selectedContacts.length != 1"> with {{selectedContacts[0]?.name}}</span>
			</h1>
		</div>
		<messages [items]="messagesToShow" [getContactName]="getContactName" [selectContact]="selectContact" [hidden]="areMessagesLoading" [canMakeVisible]="canShowMessage" [getAttachment]="showAttachment"></messages>
		<div class="message-loading" *ngIf="areMessagesLoading">
			<img src="styles/load.gif" alt="Wait ...">
		</div>
		<form #form="ngForm" (ngSubmit)="sendMessage();" class="message-editor" *ngIf="selectedContacts.length == 1 && !errorString">
			<input [(ngModel)]="newMessage.text" ngControl="text" type="text" class="form-control" placeholder="Message" required [setFocus]="selectedContacts.length == 1 && !errorString">
			<ul class="attachments-editor" *ngIf="uploader.queue.length > 0">
				<li *ngFor="#item of uploader.queue" [ngClass]="{uploading: item.isUploading}">
					<span [ngClass]="{'text-danger': item.isError}">{{item.file.name}}</span>
					<button class="close" (click)="uploader.removeFromQueue(item)"><span aria-hidden="true">&times;</span></button>
				</li>
			</ul>
			<input #selectFiles type="file" ng2-file-select [uploader]="uploader" multiple class="hidden"/>
			<button type="button" class="btn btn-default" (click)="selectFiles.click()">
				<span class="glyphicon glyphicon-paperclip"></span>
			</button>
			<button type="submit" class="btn btn-primary" [disabled]="uploader.isUploading">
				<span class="glyphicon glyphicon-envelope"></span>
			</button>
		</form>
		<div *ngIf="selectedContacts.length != 1 && !errorString" class="message-editor message-editor-warning">
			<p *ngIf="contacts.length > 0">Select <span [hidden]="selectedContacts.length < 2">only 1</span><span [hidden]="selectedContacts.length >= 2">a</span> contact to have ability to send a message</p>
			<p *ngIf="contacts.length == 0">Please add a least 1 contact</p>
		</div>
		<div *ngIf="errorString" class="message-editor message-editor-error">
			<p>{{errorString}}</p>
		</div>
	</div>
	<div class="contacts-container">
		<div class="chat-title">
			<h1>Contacts</h1>
			<button class="btn btn-primary btn-xs pull-right" (click)="editedContact = {}; contactEditorVisible=true" [hidden]="contactEditorVisible">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>
		<div class="well well-sm contact-editor" [hidden]="!contactEditorVisible">
			<button type="button" class="close" (click)="contactEditorVisible=false;">
				<span aria-hidden="true">&times;</span>
			</button>
			<form #form="ngForm" (ngSubmit)="saveContact(); contactEditorVisible=false;" class="form">
				<div class="form-group">
					<input [(ngModel)]="editedContact.name" ngControl="name" type="text" class="form-control" placeholder="Name" required [setFocus]="contactEditorVisible">
				</div>
				<div class="form-group">
					<input [(ngModel)]="editedContact.phoneNumber" ngControl="phoneNumber" type="tel" class="form-control" placeholder="Phone Number"
					required>
				</div>
				<button type="submit" class="btn btn-primary btn-block">Save</button>
			</form>
		</div>
		<ul class="contacts">
			<li *ngFor="#contact of contacts; #i=index" [ngClass]="{active: contact.selected}" (click)="contact.selected = !contact.selected; contact.removeContactVisible=false;" [makeVisible]="contact.selected">
				<div class="contact-info">
					<div class="contact-name">{{contact.name}}</div>
					<div class="contact-phone-number">{{contact.phoneNumber}}</div>
				</div>
				<div class="btn-group pull-right" [hidden]="contact.removeContactVisible" (click)="$event.stopPropagation();">
					<button type="button" class="btn btn-default btn-xs btn-primary" title="Call" (click)="callTo(contact.phoneNumber)">
						<span class="glyphicon glyphicon-earphone"></span>
					</button>
					<button type="button" class="btn btn-default btn-xs" title="Edit" (click)="editedContact = {id: contact.id, name: contact.name, phoneNumber: contact.phoneNumber}; contactEditorVisible=true" [hidden]="contactEditorVisible">
						<span class="glyphicon glyphicon-edit"></span>
					</button>
					<button type="button" class="btn btn-default btn-xs" title="Remove" (click)="contact.removeContactVisible=true">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</div>
				<div class="btn-group pull-right" [hidden]="!contact.removeContactVisible" (click)="$event.stopPropagation();">
					<button type="button" class="btn btn-danger btn-xs" title="Remove" (click)="removeContact(contact, i)"><span class="glyphicon glyphicon-remove"></span></button>
					<button type="button" class="btn btn-default btn-xs" title="Leave" (click)="contact.removeContactVisible=false"><span class="glyphicon glyphicon-ok"></span></button>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="call-container" *ngIf="activeCall">
	<div class="contact">{{getContactName(activeCallInfo.remoteId)}}</div>
	<div class="status">{{activeCallInfo.status}}</div>
	<div>
		<div *ngIf="activeCallInfo.direction == 'in'">
			<button type="button" class="btn btn-default btn-primary" title="Answer" (click)="activeCall?.accept()">
				<span class="glyphicon glyphicon-earphone"></span>
			</button>
			<button type="button" class="btn btn-default btn-danger" title="Reject" (click)="activeCall?.reject()">
				<span class="glyphicon glyphicon-earphone"></span>
			</button>
		</div>
		<div *ngIf="activeCallInfo.direction == 'out'">
			<button type="button" class="btn btn-default btn-danger" title="Hangup" (click)="activeCall?.hangup()">
				<span class="glyphicon glyphicon-earphone"></span>
			</button>
		</div>
	</div>
</div>