<div class="tail">
</div>
<div class="message">
	<p>{{item.text}}</p>
	<time>
		<span *ngIf="item.direction == 'in'"><button class="btn btn-link btn-xs contact-link" (click)="selectContact(item.from)">{{getContactName(item.from)}}</button> • </span>
		<span>{{item.time | formatTime}}</span>
		<span *ngIf="item.direction == 'out'"> • to <button class="btn btn-link btn-xs contact-link" (click)="selectContact(item.to)">{{getContactName(item.to)}}</button></span>
	</time>
	<ul *ngIf="item.media?.length > 0" class="attachments">
		<li *ngFor="#url of item.media">
			<button class="btn btn-xs btn-default" (click)="getAttachment(url)">
				<span class="glyphicon glyphicon-paperclip"></span>
			</button>
		</li>
	</ul>
</div>