body,
html {
  margin: 0;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  border-left: 4px solid #00bcec;
  border-right: 4px solid #00bcec;
}

.bw-header {
  background: #00bcec;
  color: #F6FBFE;
  font-family: sans-serif;
  width: 100%;
  height: 120px;
  margin: 0;
  padding: 24px 80px;
  display: flex;
}

.bw-header .bw-header-content {
  margin: auto 0;
  display: flex;
  height: auto;
}

.bw-header .bw-header-content .bw-logo {
  margin: auto;
  height: 64px;
}

.bw-header .bw-header-content .bw-title {
  margin: auto 32px;
  text-align: center;
}

@media (max-width: 1200px) {
  .bw-header {
    padding-left: 8px;
    padding-right: 8px;
  }
}



.bw-footer {
  background: #00bcec;
  color: #F6FBFE;
  font-family: sans-serif;
  width: 100%;
  padding: 8px 80px;
  height: 64px;
  display: flex;
}

.bw-footer .bw-footer-content {
  display: flex;
  flex-direction: row;
  margin: auto 0;
}

.bw-footer .bw-footer-content .bw-logo-small {
  height: 32px;
  margin: auto 12px auto 0px;
}

.bw-footer .bw-footer-content .bw-info {
  margin: auto 0px;
}

.bw-footer .bw-footer-content .bw-info * {
  display: block;
}

@media (max-width: 1200px) {
  .bw-footer {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.bw-body {
  background: #C9D6DF;
  display: flex;
  min-height: calc(100vh - 120px - 64px);
}


.bw-body .bw-body-content {
  color: #1E2022;
  font-family: sans-serif;
  margin: 0px auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}


.bw-body-content section {
  background: #F6FBFE;
  padding: 32px 48px;
  margin-bottom: 16px;
}

.bw-body-content section h1.bw-section-title {
  background: #00bcec;
  color: #F6FBFE;
  padding: 16px;
  width: auto;
  position: relative;
  z-index: 5;
  left: -60px;
  top: -16px;
  display: block;
  width: auto;
}

.bw-body-content section:first-child {
  margin-top: 16px;
}

.chat-title{
  color: white;
  background: #1F2A44;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
  height: 40px;
}

.chat-title h1 {
  display: inline;
  font-size: 1.1rem;
}

[hidden] {
  display: none;
}

.btn-primary {
  background-color: #00bcec;
  border-color: #00b0e0;
}

.btn-primary:hover {
  background-color: #E8562E;
  border-color: #E04e27;
}

.well {
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
}

.contacts{
    list-style-type: none;
    padding-left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 40px);
}

.contacts li{
  margin: 4px 2px;
  border: 1px solid #676767;
  background: white;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.contacts li.active{
  background-color: #00bcec;
  border-color: #00b0e0;
  color: #ffffff;
}

.contacts li .contact-info{
  display: inline-block;
}

.contacts .contact-name{
  font-size: 110%;
}

.contacts .contact-phone-number{
  font-size: 70%;
}

.conversation-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

.conversation-container .chat, .contacts-container{
  border: 1px solid #676767;
  height: calc(100vh - 120px - 64px );
}


.conversation-container .chat{
  width: calc(100vw - 220px);
  min-width: 220px;
}

.conversation-container .chat .messages{
  height: calc(100% - 40px - 32px);
  overflow-x: hidden;
  overflow-y: auto;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%, #676767 100%);
}

.conversation-container .chat .message-loading{
  height: calc(100% - 40px - 32px);
  overflow: hidden;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%, #676767 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.conversation-container .chat .message-editor{
  height: 33px;
  display: flex;
}


.conversation-container .chat .attachments-editor{
  height: 32px;
  display: inline-flex;
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
  background-color: #ffffff;
  width:  50vw;
  margin-bottom: 0;
  margin-top: 1px;
  flex-direction: row-reverse;
}

.conversation-container .chat .attachments-editor li{
  display: inline-flex;
  font-size: 75%;
  margin: 2px;
  padding: 2px;
  border: 1px solid #676767;
  border-radius: 2px;
  height: 27px;
}

.conversation-container .chat .attachments-editor li.uploading{
  background: linear-gradient(270deg, #ffffff, #aaaaaa);
	background-size: 400% 400%;

	-webkit-animation: AnimationName 2s ease infinite;
	-moz-animation: AnimationName 2s ease infinite;
	animation: AnimationName 2s ease infinite;

	@-webkit-keyframes AnimationName {
			0%{background-position:0% 50%}
			50%{background-position:100% 50%}
			100%{background-position:0% 50%}
	}
	@-moz-keyframes AnimationName {
			0%{background-position:0% 50%}
			50%{background-position:100% 50%}
			100%{background-position:0% 50%}
	}
	@keyframes AnimationName {
			0%{background-position:0% 50%}
			50%{background-position:100% 50%}
			100%{background-position:0% 50%}
	}
}


.conversation-container .chat .attachments-editor li span{
  margin-top: 4px;
}

.conversation-container .chat .attachments-editor li button{
  margin-left: 4px;
  float: right;
}

.conversation-container .chat .message-editor-warning{
  color: white;
  background: #1F2A44;
  padding: 0.5rem;
}

.conversation-container .chat .message-editor-error{
  color: white;
  background: #E8562E;
  padding: 0.5rem;
  font-size: 80%;
}


.conversation-container .chat .message-editor button{
  border-radius: 0px;
}

.conversation-container .chat .message-editor input{
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}




.conversation-container .contacts-container .contact-editor{
  position: absolute;
  width: 220px;
  border: 1px solid #00b0e0;
  z-index: 99;
}

.conversation-container .contacts-container .contacts{
  width: 220px;
  background: linear-gradient(0deg, #676767, rgba(0,0,0,0.15));
}


.app-loading{
  height: calc(100% - 40px - 32px);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.call-container{
  position: relative;
  margin: -113px 2px 0px 2px;
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  padding: 10px;
  order: 1px solid #676767;
  background: white;
  border-radius: 4px;
  height: 111px;
}

.call-container button{
  width: 80px;
}

.call-container .contact{
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 6px;
}

.call-container .status{
  font-size: 80%;
  margin-bottom: 6px;
}